<ion-header>
  <ion-toolbar color='primary'>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item button (click)="showAppDetails()" detail>
      <ion-label>Application Details</ion-label>
    </ion-item>
    <ion-item button (click)="configure()" detail>
      <ion-label>Sensor Configuration</ion-label>
    </ion-item>
    
    <ion-item>
      <ion-button color='primary' size='medium' (click)="logoutAction()">Logout</ion-button>
    </ion-item>
  
  </ion-list>
</ion-content>
