<ion-slides pager="true" [options]="slideOpts">
  <ion-slide style="padding: 160px 20px;">
    <app-logo></app-logo>
  </ion-slide>
  <!---
  <ion-slide style="padding: 0px 20px;" style="display:block;">
    <ion-header>
      <ion-toolbar color='primary'>
        <ion-title>Latest News</ion-title>
      </ion-toolbar>
    </ion-header>
  </ion-slide>
  -->
  <ion-slide style="padding: 0px 20px;" style="display:block;">
    <ion-header>
      <ion-toolbar color='primary'>
        <ion-title>About this app</ion-title>
      </ion-toolbar>
    </ion-header>
    <p><b>XCIS Australia Mobile App</b></p>
    <p>This app is designed for users of the XCIS Agriculture industry Internet of Things Platform</p>
    <p>The core features of the app include the ability to manage farm assets remotely</p>
    <p>Version 3.0 3rd March, 2022</p>
    <p>Copyright XCIS Australia Pty Ltd</p>
  </ion-slide>
</ion-slides>
