<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-button slot="start" (click)="deviceList()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
      <ion-buttons slot="end">
      <ion-button slot="end" (click)="deviceSettings()">
        <ion-icon name="construct-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Trough</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
 <ion-grid>
  <ion-row>
    <ion-col>
      <div><ion-label>Name:</ion-label></div>
    </ion-col>
    <ion-col class="ion-text-right">
      <div><ion-label>{{ deviceName }}</ion-label></div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div><ion-label>Level:</ion-label></div>
    </ion-col>
    <ion-col class="ion-text-right">
      <div><ion-label>{{ deviceLevel }} %</ion-label></div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div><ion-label>Status:</ion-label></div>
    </ion-col>
    <ion-col class="ion-text-right">
      <div><ion-label [color]="troughStatus == 'FULL' ? 'success' : 'danger'">{{ troughStatus }}</ion-label></div>
    </ion-col>
  </ion-row>
  <ion-row>
      <ion-col>
        <div><ion-label>Available Depth:</ion-label></div>
      </ion-col>
      <ion-col class="ion-text-right">
        <div><ion-label>{{ availDepth }} mm</ion-label></div>
      </ion-col>
    </ion-row>
    <ion-row>
    <ion-col>
      <div><ion-label>Date:</ion-label></div>
    </ion-col>
    <ion-col  class="ion-text-right">
      <div><ion-label>{{ deviceStatusDate }}</ion-label></div>
    </ion-col>
  </ion-row>
 </ion-grid>
 <ion-item  color='medium'>
  <ion-title class="ion-text-center">Details</ion-title>
</ion-item>
<ion-grid>
  <ion-row>
    <ion-col>
      <div><ion-label>Mode:</ion-label></div>
    </ion-col>
    <ion-col  class="ion-text-right">
      <div><ion-label [color]="deviceMode == 'Online' ? 'success' : 'danger'">{{ deviceMode }}</ion-label></div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div><ion-label>Device IP:</ion-label></div>
    </ion-col>
    <ion-col  class="ion-text-right">
      <div><ion-label>{{ deviceIP }}</ion-label></div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div><ion-label>Device LAT:</ion-label></div>
    </ion-col>
    <ion-col  class="ion-text-right">
      <div><ion-label>{{ deviceLAT }}</ion-label></div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div><ion-label>Device LONG:</ion-label></div>
    </ion-col>
    <ion-col class="ion-text-right">
      <div><ion-label>{{ deviceLONG }}</ion-label></div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div><ion-label>Device Lora ID:</ion-label></div>
    </ion-col>
    <ion-col  class="ion-text-right">
      <div><ion-label>{{ loraID }}</ion-label></div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div><ion-label>Trough Value:</ion-label></div>
    </ion-col>
    <ion-col  class="ion-text-right">
      <div><ion-label>{{ troughValue }} mm</ion-label></div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div><ion-label>Overflow height:</ion-label></div>
    </ion-col>
    <ion-col  class="ion-text-right">
      <div><ion-label>{{ troughOverFlowHeight }} mm</ion-label></div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div><ion-label>Total Depth:</ion-label></div>
    </ion-col>
    <ion-col  class="ion-text-right">
      <div><ion-label>{{ totalDepth }} mm</ion-label></div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div><ion-label>Empty Height:</ion-label></div>
    </ion-col>
    <ion-col  class="ion-text-right">
      <div><ion-label>{{ troughEmptyHeight }} mm</ion-label></div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div><ion-label>Full Height:</ion-label></div>
    </ion-col>
    <ion-col  class="ion-text-right">
      <div><ion-label>{{ troughFullHeight }} mm</ion-label></div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div><ion-label>Device Battery:</ion-label></div>
    </ion-col>
    <ion-col  class="ion-text-right">
      <div><ion-label>{{ deviceBattery }}</ion-label></div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div><ion-label>Device Version:</ion-label></div>
    </ion-col>
    <ion-col  class="ion-text-right">
      <div><ion-label>{{ deviceVersion }}</ion-label></div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div><ion-label>Device UID:</ion-label></div>
    </ion-col>
    <ion-col  class="ion-text-right">
      <div><ion-label>{{ deviceUID }}</ion-label></div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div><ion-label>Device Status:</ion-label></div>
    </ion-col>
    <ion-col  class="ion-text-right">
      <div><ion-label [color]="deviceStatus == 'Active' ? 'success' : 'danger'">{{ deviceStatus }}</ion-label></div>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
