<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="devices">
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>Devices</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="earth-outline"></ion-icon>
      <ion-label>Map</ion-label>
    </ion-tab-button>
    

    <ion-tab-button tab="history">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <ion-label>History</ion-label>
    </ion-tab-button>

    <!-- commented out for second release

    <ion-tab-button tab="notifications">
      <ion-icon name="notifications"></ion-icon>
      <ion-label>Notifications</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="configuration">
      <ion-icon name="build-outline"></ion-icon>
      <ion-label>Configuration</ion-label>
    </ion-tab-button>
    -->
    
    <ion-tab-button tab="settings">
      <ion-icon name="cog"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
