<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-button slot="start" (click)="deviceList()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
      <ion-buttons slot="end">
      <ion-button slot="end" (click)="deviceSettings()">
        <ion-icon name="construct-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Flow Meter</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div><ion-label>Name:</ion-label></div>
      </ion-col>
      <ion-col class="ion-text-right">
        <div><ion-label>{{ deviceName }}</ion-label></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div><ion-label>Flow Rate:</ion-label></div>
      </ion-col>
      <ion-col class="ion-text-right">
        <div><ion-label>{{ flowRate }} L/min</ion-label></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div><ion-label>Daily Total:</ion-label></div>
      </ion-col>
      <ion-col class="ion-text-right">
        <div><ion-label>{{ flowDailyL }} L</ion-label></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div><ion-label>Weekly Total:</ion-label></div>
      </ion-col>
      <ion-col class="ion-text-right">
        <div><ion-label>{{ weeklyTotal }} L</ion-label></div>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
          <div><ion-label>Monthly Total:</ion-label></div>
        </ion-col>
        <ion-col class="ion-text-right">
          <div><ion-label>{{ monthlyTotal }} L</ion-label></div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div><ion-label>Quarterly Total:</ion-label></div>
        </ion-col>
        <ion-col class="ion-text-right">
          <div><ion-label>{{ quarterlyTotal }} L</ion-label></div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div><ion-label>Yearly Total:</ion-label></div>
        </ion-col>
        <ion-col class="ion-text-right">
          <div><ion-label>{{ yearlyTotal }} L</ion-label></div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div><ion-label>All Time Total:</ion-label></div>
        </ion-col>
        <ion-col class="ion-text-right">
          <div><ion-label>{{ allTimeTotal }} L</ion-label></div>
        </ion-col>
      </ion-row>
      <ion-row>
      <ion-col>
        <div><ion-label>Date:</ion-label></div>
      </ion-col>
      <ion-col  class="ion-text-right">
        <div><ion-label>{{ deviceStatusDate }}</ion-label></div>
      </ion-col>
    </ion-row>
   </ion-grid>
   <ion-item  color='medium'>
    <ion-title class="ion-text-center">Details</ion-title>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div><ion-label>Mode:</ion-label></div>
      </ion-col>
      <ion-col  class="ion-text-right">
        <div><ion-label [color]="deviceMode == 'Online' ? 'success' : 'danger'">{{ deviceMode }}</ion-label></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div><ion-label>Device IP:</ion-label></div>
      </ion-col>
      <ion-col  class="ion-text-right">
        <div><ion-label>{{ deviceIP }}</ion-label></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div><ion-label>Device LAT:</ion-label></div>
      </ion-col>
      <ion-col  class="ion-text-right">
        <div><ion-label>{{ deviceLAT }}</ion-label></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div><ion-label>Device LONG:</ion-label></div>
      </ion-col>
      <ion-col class="ion-text-right">
        <div><ion-label>{{ deviceLONG }}</ion-label></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div><ion-label>Device Lora ID:</ion-label></div>
      </ion-col>
      <ion-col  class="ion-text-right">
        <div><ion-label>{{ loraID }}</ion-label></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div><ion-label>Flow Accum Freq:</ion-label></div>
      </ion-col>
      <ion-col  class="ion-text-right">
        <div><ion-label>{{ flowAccumFreq }}</ion-label></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div><ion-label>Litres Past Scan:</ion-label></div>
      </ion-col>
      <ion-col  class="ion-text-right">
        <div><ion-label>{{ flowLPerScan }} L</ion-label></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div><ion-label>Litres Per Pulse:</ion-label></div>
      </ion-col>
      <ion-col  class="ion-text-right">
        <div><ion-label>{{ flowLPerPulse }} L</ion-label></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div><ion-label>Pulses Past Scan:</ion-label></div>
      </ion-col>
      <ion-col  class="ion-text-right">
        <div><ion-label>{{ flowPulsesPerScan }} pulses</ion-label></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div><ion-label>Device Battery:</ion-label></div>
      </ion-col>
      <ion-col  class="ion-text-right">
        <div><ion-label>{{ deviceBattery }}</ion-label></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div><ion-label>Device Version:</ion-label></div>
      </ion-col>
      <ion-col  class="ion-text-right">
        <div><ion-label>{{ deviceVersion }}</ion-label></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div><ion-label>Device UID:</ion-label></div>
      </ion-col>
      <ion-col  class="ion-text-right">
        <div><ion-label>{{ deviceUID }}</ion-label></div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
